/* Reset CSS from https://github.com/h5bp/html5-boilerplate/blob/master/css/style.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{margin:0;font-size:1em;line-height:1.4}
body,button,input,select,textarea{font-family:sans-serif;color:#222}
ul,ol{margin:1em 0;padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}
label{cursor:pointer}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}

/* Custom header reset */
h1{font-size:2em}
h2{font-size:1.5em}
h3{font-size:1.2em}

/* Kundo: Use a link to the forum page instead of the button for mobile devices */
@media (max-width: 569px) {
	#kundo_button_container,#tyck-till-footer{
		display:none;
	}
}

/* Structural CSS for lillestad.se */
body {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 0.85em;
  line-height: 1.3;
}
header {
   background: #96e285;
   padding-right: 10px;
}
  header > div{
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    background: url(../img/lillestad_logo.png) no-repeat 10px 15px;

  }
  header .hgroup {
    height: 100px;
    float: left;
    margin-left: 102px;
  }
    header h1, header h2 {
      margin: 0;
      font-weight: normal;
    }
    header h1{
      font-family:Tahoma, Geneva;
      font-size: 1.8em;
    }
    header h2 {
      color: #555;
      font-size: 1.05em;
      font-style: italic;
    }
  header form {
    clear:both;
    padding-bottom: 15px;
    padding-left: 10px;
  }
    header form label {
      position: absolute;
      left: -10000px;
    }
    header form input {
      -webkit-appearance: none;
      border:none;
      box-sizing: content-box;
      font-size: 16px;
      height: 22px;
      padding: 4px 2px;
      width: 82%;
    }
    header form button {
      border: none;
      font-size: 1.1em;
      height: 29px;
      padding: 2px 7px;
      vertical-align: bottom;
      background: #276832;
      color: #fff;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
    }
    header form button:hover{
      background: #2e7d3b;
    }
    header form div {
      display: inline;
    }
#topnav {
  font-size: 1.08em;
  background: #276832;
  margin-bottom: 20px;
  position: absolute;
  top: 32px;
  display: none;
}
  #topnav ul {
    overflow: hidden;
    margin: 0;
  }
    #topnav li {
      list-style: none;
    }
    #topnav li a{
      display: block;
      padding: 15px 15px;
      color: #fff;
    }
    #topnav li a:hover{
      background: #2e7d3b;
      text-decoration: none;
    }
#main {
  overflow: hidden;
  padding: 10px;
}
  #content {

  }
	#content h2:first-child {
		margin-top: 0;
	}
    #content a {
      border-bottom: 1px solid #ddd;
    }
    .search_results ul {
      border-bottom: 1px solid #a5c956;
      padding: 0;
    }
      .search_results li {
        margin: 0;
        padding-right: 100px;
      }
        .search_results h3 {
          margin-bottom: 0.5em;
        }
        .search_results p {
          margin-top: 0;
        }
        .search_results .highlighted {
          background: #cdeb8e;
        }
    .teaser {
    }
    .teaser.even {
    }
      .teaser img {
        border: none;
        display: block;
        width: 100%;
      }
      .teaser a{
        border: none !important;
      }
      .teaser a:hover{
        border-bottom: 1px dotted black;
        text-decoration: none;
      }
      .teaser h2 {
        font-size: 1.2em;
        margin: 5px 0;
      }
      .teaser p {
        margin-top: 0;
      }
        .teaser p:after {
          background: url(../img/arrow.png) no-repeat bottom;
          display: inline-block;
          content: '.';
          height: 13px;
          text-indent: -10000px;
          width: 13px;
        }

  #error-report-form{
    max-width: 500px;
  }
    #error-report-form input,
    #error-report-form textarea{
      display:block;
      width: 100%;
      -moz-box-sizing:border-box;
      -webkit-box-sizing:border-box;
      box-sizing:border-box;
      border: 1px solid #96E285;
      background: #fff;
      padding: 4px;
      font-size: 16px;
    }
    #error-report-form input{
      height: 2.2em;
    }
    #error-report-form button{
      border: none;
      font-size: 1.1em;
      padding: 7px;
      vertical-align: bottom;
      background: #276832;
      color: #fff;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      width: 100%;
    }
  #step2{
    display: none;
  }
  #file-upload-input{
    position: relative;
    width: 138px;
    height:30px;
  }
    #file-upload-input input{
      position: absolute;
      left: 0;
      z-index: 2;
      -moz-opacity:0 ;
      filter:alpha(opacity: 0);
      opacity: 0;
      width: 118px;
      height: 35px;
    }
    #file-upload-input a{
      border: none;
      font-size: 1.1em;
      height: 19px;
      padding: 7px;
      vertical-align: bottom;
      color: #fff;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      display: inline-block;
      padding-left: 38px;
      background: #276832 url(../img/camera.png) no-repeat 7px 7px;
    }
  #sidebar {
    border-top: 1px dotted #000;
    padding-top: 20px;
  }
    #sidebar h2 {
      color: black;
      font-size: 1.1em;
      margin: 0;
      text-transform: uppercase;
    }
    #news {
      padding: 0;
    }
      #news li {
        list-style: none;
        margin: 0 0 20px;
      }
        #news h3 {
          margin: 0 0 5px;
        }
        #news time {
          color: #666;
          display: block;
          font-size: 0.8em;
          margin-bottom: 5px;
        }
        #news p {
          margin: 0;
        }
    #kundo-header {
      border-top: 1px dotted #333;
      padding-top: 10px;
      margin-top: 10px;
    }
    #kundo-widget {
      font-size: 1.2em;
    }
      #kundo-widget h4, #kundo-widget strong {
        display: none;
      }
      #kundo-widget ul {
        font-size: 0.9em;
        padding-left: 1.5em;
      }
        #kundo-widget li {
          margin: 0 0 0.5em;
        }
footer {
   background: #96e285;
   margin: 20px 0 50px;
}
  footer > div{
    position: relative;
    overflow: hidden;
    padding-top: 20px;
  }
  footer address {
    padding: 10px;
    padding-top: 0;
  }
  footer nav {
    font-size: .9em;
  }
    footer nav ul {
      margin: 0;
      overflow: hidden;
      padding: 0;
    }
      footer nav li {
        float: left;
        list-style: none;
        padding: 7px;
      }



/* Modules */
a {
  text-decoration: none;
  color: #333;
}
  a:hover {
    text-decoration: underline;
  }
.grad {
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top,  #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* IE10+ */
  background: linear-gradient(top,  #cdeb8e 0%,#a5c956 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}
.layout-inner{
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.mob-nav{
  background: #276832;
  padding-left: 10px;
}
#map-canvas{
  width: 300px;
  height: 250px;
  margin-bottom: 15px;
}
progress{
  display: none;
}


@media only screen and (min-width: 600px){
  .mob-nav{
    display:none;
  }
  header{
    padding: 0;
  }
    header > div{
      height: 95px;
    }
    header .hgroup {
      height: auto;
    }
    header h1{
      font-family:Tahoma, Geneva;
      font-size: 2.5em;
    }
    header h2 {
      font-size: 1em;
    }
    header form {
      position: absolute;
      right: 10px;
      top:55px;
    }
      header form input{
        width: 200px;
      }
  #topnav{
    position: static;
    display: block;
  }
   #topnav li {
      float: left;
      font-size: .8em;
    }
    #topnav li a{
      padding-left: 6px;
      padding-right: 6px;
    }
  #main{
    padding: 0 10px 10px 10px;
  }
  #content {
    float: left;
    width: 77%;
  }
  #map-canvas{
    width: 100%;
    height: 350px;
  }
  #error-report-form input,
  #error-report-form textarea,
  #error-report-form textarea{
    font-size: 1em;
  }
  #sidebar {
    border-left: 1px solid #ddd;
    float: left;
    padding-left: 2%;
    width: 20%;
    padding-top: 0;
    border-top: 0;
  }
  .teaser {
      float: left;
      margin-right: 2%;
      width: 48%;
      clear:left;
    }
  .teaser.even {
    clear: right;
    margin-right: 0;
  }
  .long-text {
    padding-right: 20px;
  }
  footer address {
    float: left;
    width: 40%;
    padding: 0;
  }
  footer nav {
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: 1em;
  }
   footer nav ul {
      margin: 0;
      overflow: hidden;
      padding: 0;
    }
      footer nav li {
        float: left;
        list-style: none;
        padding: 7px;
      }
  footer > div{
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    height: 55px;
  }

}

@media only screen and (min-width: 800px){
   header h2 {
      font-size: 1.2em;
    }
    #topnav li {
      font-size: 1em;
    }
     #topnav li a{
      padding: 15px;
    }
    #error-report-form button{
      display: inline-block;
      width: auto;
    }
}



